/* .login-form {
    border: 1px solid #a5a5a5;
    background: #fff;
    border-radius: 2px;
    padding: 30px 48px;
    text-align: center;
    margin: 0;
}
.login-form .form-control {
    border-radius: 25px;
    padding: 12px 20px;
    margin-top: 20px;
    height: auto;
}
input:-internal-autofill-selected {
    background-color: rgb(255 255 255) !important;
}
.login-bt{
    background: #3188cb;
    color: #fff;
    border-radius: 27px;
    font-size: 22px;
    border: 0;
    padding: 10px 25px;
    width: 100%;
    display: block;
    text-align: center;
}
.login-bt:hover{
    color:#fff;
}
.login-form p span {
    color: #4883dc;
    cursor: pointer;
}
.forgot{
    font-size: 14px;
    color: #444444;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    display: block;
}

@media(max-width:767px){
    .white-heading{
        color: #fff;
    }
    .login-form{
        padding: 25px !important;
    }
} */

.custm_h2 {
    margin-left: 16px;
    background: #fbfbfb;
    color: #717273;
    font-size: 16.5px;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    text-transform: uppercase;
    width: calc(100% - 48rem);
    display: inline;
    border-top: 1px solid #004a7f;
    border-right: 1px solid #004a7f;
    border-left: 1px solid #004a7f;
    font-weight: normal;
}
.custm_Login2 {
    background-color: rgb(251 251 251 / 88%) !important;
    border: 0 !important;
    border-top: 1px solid #004a7f !important;
    border-bottom: 1px solid #004a7f !important;
    border-left: 0 !important;
    border-right: 0 !important;
    margin-top: 8px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 0 39px 0 #dddddd;
}
.custm_inpt, .custm_inpt:focus {
    background-color: #f5f5f5;
    border: 0;
    border-radius: 0 !important;
}
.cust_button {
    background-color: #ffffff !important;
    padding: 8px 10px !important;
    font-size: 18px !important;
    text-transform: uppercase;
    border-radius: 0 !important;
    color: #02477d !important;
    border: 0.55px solid #e8e8e8 !important;
    margin-bottom: 9px !important;
}
.custm_forgot {
    margin-top: 10px !important;
}
.custm_forgot span {
    color: #014d81;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
}