.contactus{
  margin: 40px;
  border-radius: 12px;
  padding: 0 30px;
  }
.contactus h2{
  font-size: 30px;
  margin: 20px 0 20px 0;
}
.contactus p{
  font-size: 15px;
}
.contactus .form-control {
  border-radius: 25px;
  padding: 12px 20px;
  height: auto;
}
.contactus .form-control:focus{
  box-shadow: none; 
  border-color: #ced4da;
}
.contactus .form-group{
  margin-bottom: 24px;
}
textarea .form-control{
  height: 150px;
}