/* body{

} */
a{
    text-decoration: none;
  }
.form-bt {
    background-color: #014d81;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 10px 37px;
}
.form-bt:hover{
    color: #fff;
}
.form-bt-light {
    background-color: #d8e5ed;
    color: #4b4b4b;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border-top-right-radius: 12px;
    padding: 12px 30px;
    margin-left: -4px;
    display: inline-block;
}
.form-bt-light:hover{
    color: #4b4b4b;
}
.form-bg {
    background: rgb(255 255 255 / 90%);
    border-radius: 25px;
    border: 10px solid #f1f1f1;
    box-shadow: 0px 0px 6px hsl(0deg 0% 0% / 10%);
    width: 100%;
    padding: 25px;
}
.form-bg .form-control{
    height: auto;
    padding: 11px 12px;
    Border: 1px solid #666666;
    border-radius: 27px;
    font-size: 18px;
}
.moneyImage{
    position: absolute;
    right: 14px;
    top: 15px;
}
.input-group>.form-control:not(:last-child){
    border-top-right-radius: 27px !important;
    border-bottom-right-radius: 27px !important;
}
.search{
    background-image: url(../../../assets/images/search.png);
    background-repeat: no-repeat;
    background-position: 20px;
    background-size:18px ;
    padding-left: 50px !important;
}
.form-bg label{
    font-size: 18px;
    color: #232222;
    font-weight: 500;
}